.star {
  height: 26px;
}

#commentBody {
  width: 48.82%;
  height: 83.52%;
  border-radius: 4px;
  background-color: rgb(230, 230, 230);
  border: 2px solid black;
  left: 50.4%;
  top: 172.53%;
  position: absolute;
}
#comments {
  width: 47.77%;
  height: 81.32%;
  border-radius: 6px;
  background-color: white;
  border: 4px solid rgb(245, 245, 245);
  left: 50.92%;
  top: 173.41%;
  position: absolute;
}
#commentHeader {
  width: 48.82%;
  left: 49.87%;
  top: 163.73%;

  position: absolute;
}
body {
  font-family: 'Economica', sans-serif;
  width: 57.95%;
}

.heading {
  margin: 5px;
  padding: 10px;
  border: 4px solid black;
  font-size: 30px;
  border-radius: 4px;
  color: black;
  background-color: gold;
  text-align: center;
}

#signIn {
  left: 78.74%;
  top: 94.5%;
  height:4.4%;
  width: 7.87%;
  background-color: rgb(30, 30, 30);
  position: absolute;
}

#mainBody {

  width: 63%;
  height: 162.7%;
  position:absolute;
  border-radius: 6px;
  background-color: rgb(230, 230, 230);
  border: 2px solid black;
}

.grid-container {
  padding-top: 12px;
}

.grid {
  border: 4px solid #444;
  float: left;
  width: 29.1%;
  margin: 1.09% 1.05%;
  text-align: center;
}

.grid a {
  color: #000;
  text-decoration: none;
}

.grid p {
  font-size: 20px;
  margin: 0px;
  padding: 2px 0px;
  background-color: rgba(255, 240, 190, 0.6);
  border: 2px solid black;
  width: 18.48%;
}

.heading h1 {
  margin: 0px;
  border: 4px solid black;
  height: 5.5%;
  padding-top: 0px;
}
.absolute {
  position: absolute;
}

/*     positions for the hosuing locations          */
#wiley {
  left: 1.68%;
  top: 77.8%;
  position: absolute;
}

#earhart {
  left: 22.68%;
  top: 77.8%;
  position: absolute;
}
#towers {
  left: 43.67%;
  top: 77.85%;
  position: absolute;
}
#cary {
  left: 1.68%;
  top: 52.64%;
  position: absolute;
}
#mccutcheon {
  left: 22.68%;
  top: 51.64%;
  position: absolute;
}
#tarkington {
  left: 43.67%;
  top: 52.64%;
  position: absolute;
}
#meredith {
  left: 1.2%;
  top: 16.1%;
  position: absolute;
}
#meredith-s {
  left: 22.68%;
  top: 27.25%;
  position: absolute;
}

#windsor {
  left: 43.67%;
  top: 27.25%;
  position: absolute;
}
#winifred {
  left: 22.68%;
  top: 96.37%;
  position: absolute;
}

#freida {
  left: 1.68%;
  top: 103.3%;
  position: absolute;
}

#winifred {
  left: 22.68%;
  top: 103.3%;
  position: absolute;
}
#harrison {
  left: 43.67%;
  top: 103.3%;
  position: absolute;
}

#hawkins {
  left: 1.68%;
  top: 128.8%;
  position: absolute;
}

#hillenbrand {
  left: 22.68%;
  top: 128.8%;
  position: absolute;
}

#honors {
  left: 43.68%;
  top: 128.8%;
  position: absolute;
}

#owen {
  left: 1.68%;
  top: 154.06%;
  position: absolute;
}

#shreve {
  left: 22.68%;
  top: 154.06%;
  position: absolute;
}

/*     End positions for housing locations        */

#chatheader {
  left: 63.52%;
  top: 0%;
  border-radius: 4px;
  width: 35.7%;
  position: absolute;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: gold;
  background-color: rgb(30, 30, 30);
  margin: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 4px solid gold;
}

#chatBody {
  width: 35.9%;
  height: 154.7%;
  border-radius: 4px;
  background-color: rgb(230, 230, 230);
  border: 2px solid black;
  left: 63.94%;
  top: 8.79%;
  position: absolute;
}

#chat {
  width: 34.91%;
  height: 73.63%;
  background-color: white;
  border-radius: 6px;
  border: 5px solid rgb(245, 245, 245);
  left: 64.25%;
  top: 9.45%;
  position: absolute;
}
.material-icons {
  padding-right: 10px;
}

#send-message {
  left: 67.72%;
  top: 86.81%;
  border: 3px solid gold;
  width: 23.62%;
  background-color: rgb(30, 30, 30);
  padding-left: 4.2%;
  padding-right: 2.1%;
  position: absolute;
}

#message {
  margin: 5px;
}

button {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-color: gold;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  color: gold;
  cursor: default;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 3.96%;
  margin: 8px 16px;
  outline-color: gold;
  padding: 0px 15px;
}

#firebaseui-auth-container {
  left: 42%;
  top: 107.7%;
  padding-left: 4.2%;
  padding-right: 4.2%;
  width: 73.49%;
  position: absolute;
}

#location-name {
  font-size: 32px;
  width: 41.57%;
  background-color: rgba(255, 240, 190, 0.6);
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  font-family: Roboto, sans-serif;
  border-radius: 4px;
  border-width: 4px;
  text-align: center;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  top: 203.52%;
}

#image-image {
  width: 42%;
  height: 49.45%;
}

#location-image {
  width: 11.02%;
  height: 4.4%;
  position: absolute;
  left: 15.75%;
  top: 214.29%;
}

.rating {
  font-family: Roboto, sans-serif;
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 18px;
  position: absolute;
  left: 16.33%;
}

.rateNum {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  left: 22.94%;
  position: absolute;
}

#review-label {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  background-color: gold;
  text-align: center;
  width: 42%;
  border-radius: 3px;
  border-width: 3px;
  padding-left: 8.4%;
  padding-right: 8.4%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#review-message {
  width: 25.72%;
}

#rateinstructions {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.reviewclass {
  font-family: Roboto, sans-serif;
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 18px;
  left: 16.32%;
  position: absolute;
}

.score-box {
  width: 1.57%;
  height: 2.64%;
  left: 23.1%;
  padding-top: 2;
  padding-bottom: 2;
  position: absolute;
}

#submit-button {
  width: 7.35%;
  height: 4.4%;
  background-color: rgba(0, 0, 0, 1);
  left: 16.33%;
  position: absolute;
}

#map-image {
  left: 26.67%;
  top: 232.2%;
  width: 23.2%;
  height: 35.7%;
  position: absolute;
  border-style: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 3px;
}
