body {
  font-family: 'Economica', sans-serif;
  width: 500px;
}

.heading {
  margin: 5px;
  padding: 10px;
  border: 4px solid black;
  font-size: 30px;
  border-radius: 4px;
  color: black;
  background-color: gold;
  text-align: center;
}

#signIn {
  left: 1500px;
  top: 910px;
  width: 150px;
  background-color: rgb(30, 30, 30);
  position: absolute;
}

#mainBody {
  width: 240%;
  height: 1480px;
  border-radius: 6px;
  background-color: rgb(230, 230, 230);
  border: 2px solid black;
}

.grid-container {
  padding-top: 10px;
}

.grid {
  border: 4px solid #444;
  float: left;
  width: 352px;
  margin: 10px 20px;
  text-align: center;
}

.grid a {
  color: #000;
  text-decoration: none;
}

.grid p {
  font-size: 20px;
  margin: 0px;
  padding: 2px 0px;
  background-color: rgba(255, 240, 190, 0.6);
  border: 2px solid black;
  width: 352px;
}

.heading h1 {
  margin: 0px;
  border: 4px solid black;
  height: 50px;
  padding-top: 0px;
}
.absolute {
  position: absolute;
}

/*     positions for the hosuing locations          */
#wiley {
  left: 32px;
  top: 708px;
  position: absolute;
}

#earheart {
  left: 432px;
  top: 708px;
  position: absolute;
}
#towers {
  left: 832px;
  top: 708px;
  position: absolute;
}
#cary {
  left: 32px;
  top: 477px;
  position: absolute;
}
#mccutcheon {
  left: 432px;
  top: 477px;
  position: absolute;
}
#tarkington {
  left: 832px;
  top: 477px;
  position: absolute;
}
#meredith {
  left: 32px;
  top: 246px;
  position: absolute;
}
#meredith-s {
  left: 432px;
  top: 246px;
  position: absolute;
}

#windsor {
  left: 832px;
  top: 246px;
  position: absolute;
}
#winifred {
  left: 432px;
  top: 877px;
  position: absolute;
}

#freida {
  left: 32px;
  top: 940px;
  position: absolute;
}

#freida {
  left: 32px;
  top: 940px;
  position: absolute;
}
#winifred {
  left: 432px;
  top: 940px;
  position: absolute;
}
#harrison {
  left: 832px;
  top: 940px;
  position: absolute;
}

#hawkins {
  left: 32px;
  top: 1170px;
  position: absolute;
}

#hillenbrand {
  left: 432px;
  top: 1170px;
  position: absolute;
}

#honors {
  left: 832px;
  top: 1170px;
  position: absolute;
}

#owen {
  left: 32px;
  top: 1402px;
  position: absolute;
}

#shreve {
  left: 432px;
  top: 1402px;
  position: absolute;
}

/*     End positions for housing locations        */

#chatheader {
  left: 1210px;
  top: 0px;
  border-radius: 4px;
  position: absolute;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: gold;
  background-color: rgb(30, 30, 30);
  width: 680px;
  margin: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 4px solid gold;
}

#chatBody {
  width: 684px;
  height: 1408px;
  border-radius: 4px;
  background-color: rgb(230, 230, 230);
  border: 2px solid black;
  left: 1218px;
  top: 80px;
  position: absolute;
}

#chat {
  width: 665px;
  height: 730px;
  background-color: white;
  border-radius: 6px;
  border: 5px solid rgb(245, 245, 245);
  left: 1224px;
  top: 86px;
  position: absolute;
}
.material-icons {
  padding-right: 10px;
}

#send-message {
  left: 1290px;
  top: 840px;
  border: 3px solid gold;
  width: 450px;
  background-color: rgb(30, 30, 30);
  padding-left: 80px;
  padding-right: 40px;
  position: absolute;
}

#message {
  margin: 5px;
}

button {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-color: gold;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  color: gold;
  cursor: default;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  margin: 8px 16px;
  outline-color: gold;
  padding: 0px 15px;
}

#firebaseui-auth-container {
  left: 1200px;
  top: 980px;
  padding-left: 80px;
  padding-right: 80px;
  width: 600px;
  position: absolute;
}

#location-name {
  font-size: 28px;
  width: 800px;
  background-color: gold;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  font-family: Roboto, sans-serif;
  border-radius: 4px;
  border-width: 4px;
  text-align: center;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
}

#image-image {
  width: 800px;
  height: 450px;
}

#location-image {
  width: 210px;
  height: 40px;
}

.rating {
  font-family: Roboto, sans-serif;
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 18px;
}

.rateNum {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
}

#review-label {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  background-color: gold;
  text-align: center;
  width: 800px;
  border-radius: 3px;
  border-width: 3px;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#review-message {
  width: 490px;
}

#rateinstructions {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.reviewclass {
  font-family: Roboto, sans-serif;
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 18px;
}

.score-box {
  width: 30px;
  height: 24x;
  padding-top: 2;
  padding-bottom: 2;
}

#submit-button {
  width: 150px;
  height: 70px;
  background-color: rgba(0, 0, 0, 1);
}
